.assign-workout-page {
    min-height: 100vh;
    background-color: black;
    color: white;
    padding: 50px 20px;
    text-align: center;
}

.assign-workout-page h1 {
    color: white;
    font-size: 42px;
    margin-bottom: 10px;
    text-align: left;
}

.assign-workout-page h2 {
    color: #aaa;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
}

.assign-workout-form {
    width: 500px;
    max-width: 90%;
    margin: auto;
    background-color: #151515;
    padding: 35px;
    border-radius: 12px;
    border: 1px solid #333;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.assign-workout-form label {
    display: block;
    width: 100%;
    margin: 15px 0 8px;
    text-align: left;
    font-size: 17px;
    font-weight: bold;
}

.assign-workout-form select,
.assign-workout-form textarea {
    width: 100%;
    padding: 13px;
    background-color: #222;
    color: white;
    border: 1px solid #555;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
}


.assign-workout-form select:focus,


.assign-workout-form input,
.assign-workout-form select {
    width: 100%;
    padding: 13px;
    background-color: #222;
    color: white;
    border: 1px solid #555;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
}

.assign-workout-form button {
    width: 100%;
    margin-top: 25px;
    padding: 14px;
    background-color: #ff1f2d;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

.assign-workout-form button:hover {
    background-color: #222;
    border: 1px #444 solid;
}

.assign-workout-form button:last-child {
    background-color: transparent;
    color: #ffcc00;
    border: 1px solid #ffcc00;
}

.assign-workout-form button:last-child:hover {
    background-color: #ffcc00;
    color: black;
}

@media (max-width: 600px) {

    .assign-workout-page {
        padding: 30px 10px;
    }

    .assign-workout-page h1 {
        font-size: 32px;
    }

    .assign-workout-form {
        padding: 25px;
        max-width: 95%;
    }
}